@mixin fade-in($duration: .2s) {
  transition: opacity $duration;
  opacity: 1;
  visibility: visible;
}

@mixin fade-out($duration: .2s, $easing: linear) {
  transition: opacity $duration $easing 0s, visibility 0s $easing $duration;
  opacity: 0;
  visibility: hidden;
}

@mixin slide-up-in($duration: .2s) {
  transform: translate3d(0, 0, 0);
  transition: opacity $duration, transform $duration;
  opacity: 1;
  visibility: visible;
}

@mixin slide-down-out($pos, $duration: .2s, $easing: linear) {
  transform: translate3d(0, $pos, 0);
  transition: opacity $duration $easing 0s, transform $duration $easing 0s, visibility 0s $easing $duration;
  opacity: 0;
  visibility: hidden;
}

@mixin scale-up($duration: .2s) {
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform $duration;
  visibility: visible;
}

@mixin scale-down($duration: .2s, $easing: linear) {
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform $duration $easing 0s, visibility 0s $easing $duration;
  visibility: hidden;
}
